{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h2>Add a new entry:</h2>
{% endblock page_header %}

{% block content %}


    <p class="lead"><em>Topic: <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></em></p>

    <p>-Add a new entry-</p>
    
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit' class="btn btn-primary">Add entry</button>
    </form>

{% endblock content %}